.videos{
    height: 100%;
    padding: 0;
    position: relative;
    
    background-color: #2B244D !important
}

.peerVideo{
}

.userVideo{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px;
    
    box-shadow: 0 4px 12px 0px rgba(0, 0, 0, .25);
}

.devControls{
    position: fixed;
    bottom: 0;
    padding: 10px;

    background-color: #fff !important;

    border-top: 2px solid #2B244D;
    border-right: 2px solid #2B244D;
    color: #2B244D;
}

.devControls button{
    margin-bottom: 5px;
    width: 100px;
    padding: 2px; 
    border:none;

    background-color: #2B244D !important;
    border-radius: 2px;

    color: #fff;

    transition: all 20ms ease-in-out;

    cursor: pointer;
}
.devControls button:hover{
    opacity: 0.9;
}

.devControls input{
    width: 200px;
    margin-bottom: 5px;

    border: none;

    background-color: #eee;
}

#messagesForm_test{
    display: none;
}