.notification{
    width: 100%!important;
    position: fixed!important;
    bottom:0!important;
    z-index: 9999;

    text-align: center;
}

.brand{
    color: white;
}
.brand:hover{
    color: white;
    text-decoration: none;

    opacity: .8;
}

.settings-button-container{
    position: relative;
}
    .settings-button{
        position: absolute;
        right: 0;
        bottom: calc(50% - 17px);

        font-size: 34px!important;

        cursor: pointer;
    }

    .settings-button:hover{
        opacity: .8;
    }
